In [1]:
# Day 1
#task1------a="1234" -----what is this type
#task2-----a=100.00----
#task3----a=i------what is type
#task4---you have to check for int and complex----convert it into int and complex
#task5-----you can take str="grapes" , you have to perform slicing using postive and negative index
#task6-----arthimetic,logical relational,identity(is,not is)

In [2]:
#task1------a="1234" -----what is this type
#type str
a = "1234"
print(type(a))
#type Int
b = 1234
print(type(b))
#type complex
c = 1 + 2j
print(type(c))
#task2-----a=100.00----
d = 100.00
print(type(d))

<class 'str'>
<class 'int'>
<class 'complex'>
<class 'float'>

In [3]:
#task4---you have to check for int and complex----convert it into int and complex
a = 99.99
print(int(a))
print(complex(a))

99
(99.99+0j)

In [4]:
#task5-----you can take str="grapes" , you have to perform slicing using postive and negative index
a = ["History" , "Geo" , "Maths" , "Science" , "Bio"]
print(a[1:2])
print(a[-5:-2])
print(a[-2])

['Geo']
['History', 'Geo', 'Maths']
Science

# Day 2

In [5]:
x = 2 # Global scope 
def fun ():
        y = 4 # Local Scope
        print(y)
fun()

4

# # if , else , if else

In [6]:
x = 2
if x < 3 :
    print("True")
else:
    print("false")

True

In [7]:
x = 4
if x < 3 :
    print("True")
else:
    print("false")

false

# for , while

In [8]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [9]:
i = 3
while i < 6:
    print(i)
    if i == 3:
        break
        i += 1

3

# Day 3

In [10]:
# Task

1.area of circle
2.area of square
3.area of rectangle
4.table of a number

5. prime or not
7.odd or even number
accepts a word from the user and reverse it

9.to check if a triangle is quilateral,isosceles or scalene.
10.remove duplicates in string : i/p: str="helloworld"    o/p:helowrd

In [11]:
# area of circle
pi = 3.14  
Radius = float (input ("Please enter the radius of the given circle: "))  
area_of_the_circle = pi * Radius * Radius  
print (" The area of the given circle is: ", area_of_the_circle)

Please enter the radius of the given circle:  4

 The area of the given circle is:  50.24

In [12]:
# area of square
side = int(input("Please enter side of square : "))
area = side*side
print("Area of the square = " + str(area))

Please enter side of square :  4

Area of the square = 16

In [13]:
# area of rectangle
width = int(input("Please enter width : "))
height = int(input("Please enter height : "))
Area = width * height
print("Area of the square = " + str(area))

Please enter width :  5
Please enter height :  4

Area of the square = 16

In [14]:
n = 5
for i in range(1, 11):
    print(n, 'x', i, '=', n*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

18/01/2024

In [15]:
# try except finally
try:
    x = int(input("Enter a number: "))
    result = 10 / x
    print("Result:", result)
except ValueError:
    print("Invalid input.")
except ZeroDivisionError:
    print("Cannot divide by zero.")
finally:
    print("This code will run.")

Enter a number:  4

Result: 2.5
This code will run.

In [16]:
# remove except and execute
a = 8
b = 0
try:
    print(a/b)
finally:
    print("No Error")

No Error

ZeroDivisionError: division by zero

In [17]:
# Remove try and use except finally
a = 8
b = 0
except ValueError:
    print("Invalid input. Please enter a valid number.")
finally:
    print("No Error")

SyntaxError: invalid syntax (3782672704.py, line 4)

In [18]:
def func1(name, age):
    print(name)
    print(age)

func1(name='SID', age=22)

SID
22

In [19]:
# Positinal argument
def func2 (name , age):
    print(name)
    print(age)
func2(22,SID)

NameError: name 'SID' is not defined

In [20]:
def func1(name, age):
    x = input("Enter the name: ")
    y = int(input("Enter the age: "))
    print(name, x)
    print(age, y)
func1("MY Name is :", "MY Age is :")

Enter the name:
Enter the age:  sid

ValueError: invalid literal for int() with base 10: 'sid'

In [21]:
def func2 (name , age):
    print(name)
    print(age)
func2("SID",22)

SID
22

In [22]:
class Encap:
    def __init__(self, a):
        self._a = a

    def display(self):
        print(self._a)

e = Encap(a=10)
e.a=100
e.display()

10

In [23]:
# 24/01/2024

In [24]:
import datetime

print(datetime.datetime.now())

2024-01-29 19:25:54.934222

In [25]:
import datetime

print(datetime.datetime.today())

2024-01-29 19:25:55.609474

In [26]:
##TASK2---strftime("%A"), %a, %w, %b, %B
from datetime import datetime
x = datetime.now()
y = x.strftime("%A")
print(y)

Monday

In [27]:
from datetime import datetime
x = datetime.now()
y = x.strftime("%a")
print(y)

Mon

In [28]:
from datetime import datetime
x = datetime.now()
y = x.strftime("%w")
print(y)

1

In [29]:
x = datetime.now()
y = x.strftime("%b")
print(y)

Jan

In [30]:
x = datetime.now()
y = x.strftime("%B")
print(y)

January

In [31]:
from datetime import datetime

x = "2024-jan-24"
pdt = datetime.strptime(x, "%Y-%b-%d")
print(pdt)

2024-01-24 00:00:00

In [32]:
# task3-----you check for tomorrow date.
from datetime import datetime
cd = datetime.now()
td = cd + timedelta(days=1)
print("Current Date and Time:", cd)
print("Date for Tomorrow:", td.date())

NameError: name 'timedelta' is not defined

In [33]:
#task4---subtract 7days from the current date
from datetime import datetime
td= datetime.now()
ag= td - timedelta(days=7)
print("Current Date and Time:", td)
print("Seven Days Ago:", ag.date())

NameError: name 'timedelta' is not defined

In [34]:
#task5---print next 5days starting today
from datetime import datetime
cd = datetime.now()
for i in range(5):
    nd = cd + timedelta(days=i)
    print(f"Day {i + 1}: {nd.date()}")

NameError: name 'timedelta' is not defined

In [46]:
#29/01/24

In [47]:
l = [1,2,3,4]
s = list(map(lambda x:x**2,l))
print(s)

[1, 4, 9, 16]

In [48]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
en = list(filter(lambda x: x % 2 == 0, numbers))
print("Even numbers:", en)

Even numbers: [2, 4, 6, 8, 10]

In [51]:
l = [1, 2, 3, 4]
avg = lambda x: sum(x) / 4
result = average(l)
print(result)

2.5

In [25]:
print(2//3)

0

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2281582731.py, line 1)

In [4]:
a = input("Enter the word:    ")
duplicates = ''.join([char for char in set(a) if a.count(char) > 1])
print("Duplicate letters in the word " , a)

Enter the word:     hello world

Duplicate letters in the word  hello world